@charset "utf-8";
/* CSS Document */
.header{background-color:#ae092e;height:50px}
.main{margin:0 auto;width:950px}
.top-dl dd a,.btn-login,.icon-sina,.icon-qq{display:block}
.top-dl{border-left:1px solid #980524}
.top-dl dd{border-right:1px solid #980524;float:left;display:inline-block;line-height:50px}
.top-dl dd a,.btn-login,.btn-login:hover{color:#fff}
.icon-msg-1,.icon-msg-2{color:#999}
.top-dl dd a{padding:0 20px}
.top-dl dd a:hover{background:#c50000}
.title-member{margin:0 auto;padding:40px 0;text-align:left;width:950px}
.title-member b{font-size:17px}
.tt-mm-bd{border-left: 2px solid #cf1515;color:#666;height:17px;line-height:17px;margin-left:20px;padding-left:20px}
.main-l{border:1px solid #e1e1e1;height:370px;margin-bottom:20px;padding:30px 35px;width:600px}
.main-r{border:1px solid #e1e1e1;border-left:none;height:430px;width:238px}
.main-l .wd600{margin:0 auto}
.login-tab{border-bottom:1px solid #e1e1e1;line-height:32px}
.login-title{border-bottom:3px solid #c60000;cursor:pointer;padding:0 30px}
.login-box{padding:45px 0 30px}
.login-box .wd140,.box-register .wd260,.box-retrieve .wd250{color:#333;font-size:14px}
.btn-login{background-color:#aa0000;border:none;cursor:pointer;height:45px;line-height:45px;text-align:center;width:260px}
.btn-login:hover{background-color:#c60000}
.icon-sina,.icon-qq{height:43px;width:44px}
.icon-sina{background-position:0 -423px}
.icon-qq{background-position:0 -509px}
.icon-sina:hover{background-position:0 -380px}
.icon-qq:hover{background-position:0 -466px}
.main-r .icon-sina{margin-left:50px;margin-right:36px}
.icon-msg-1{background-position:-10px -676px}
.icon-msg-2{background-position:-10px -715px}
.box-register{border:1px solid #e1e1e1;padding:70px 80px 60px}
.box-register .ip-7hcn-2{width:248px}
.box-retrieve{padding:50px 80px 80px}
.yzm .ip-7hcn-2{width:150px;margin:0}
.yzm .btn-r-4{width:100px}
.yzm .c_gy_3{line-height:16px;text-align:left}
.submit-wrap{border-top:1px dashed #ccc;padding-top:20px}
.box-retrieve{width:710px;margin:0 auto}
.steps{background:url(zhmm.png) no-repeat;width:710px;height:70px;margin-bottom:60px}
.step-1{background-position:0 0}
.step-2{background-position:0 -70px}
.step-3{background-position:0 -140px}
.icon-success{background:url(ok_big.png) no-repeat center 20px;font-size:24px;font-weight:700;padding-top:105px}
.reg-head {line-height:38px;border:1px solid #e1e1e1;border-bottom:none;}
.head-btn {width:474px;color:#666;font-size:24px;font-weight:bold;}
.head-btn:hover{width:474px;color:#fff;font-size:24px;font-weight:bold;background:#aa0000;}
.head-btn-active {width:474px;color:#fff;font-size:24px;font-weight:bold;background:#aa0000;}



